*{
    text-decoration: none;
  
    
}

body {
    background-color: aliceblue;
    margin:0;
    height: 600px;
    width: 500px;
}

a{
    text-decoration:none;
    color:white;
}

ul {
    list-style: none;
}

/* 로그인 */
.welcome {
    margin-top:100px;
    margin-bottom: 20px;
    display: grid;
    place-items:center;

}

.login-container {
    display: grid;
    place-items:center;
    
    width: 100%;
    height: 100px;
}


input {
    display:grid;
    margin-bottom: 14px;
    width: 300px;
    height: 40px;
    font-size: 16px;
    border:1px solid rgba(211, 211, 211, 0.401);
}
 
button {
    margin-bottom:12px;
    width: 294px;
    height: 540x;
    font-size: 16px;
    padding: 10px 20px;
    background-color: #ca6c9b;
    color:white;
    border: 1px solid whitesmoke;
    border-radius: 10px;
}


