* {
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

html {
    background-color: rgb(237, 235, 235);
    font-size: 90%;
}

body {
    display: grid;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style:none;
}

/* main page */
.mainbar {
    width:100%;
    height:100px;
    background-color: #222227;
    color:white;
    padding-left: 1000px;
}

#img2 {
    width:100%;
    height:630px;
}
.mainbar2{
    width:100%;
    height:50px;
    background-color: #222227;
}

.loginbtn {
    padding-right: 800px;
    color: white;
}

/*index page*/
.navbar {
    height: 80px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222227;
    padding: 8px 12px;
    border-color: rgb(198, 81, 101) 20px;
   
}

.logo {
    font-style: italic;
    padding-left:50px;
    font-size: 30px;
    color: white;
}

.theatre {
    display: relative;
    width:40px;
    height:40px;
}

.menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.menu li {
    padding: 8px 20px;
    color: white;
    position: relative;
}

.menu>li>a>span {
    font-size: 0.5em;
}

.menu li:hover {
    cursor: pointer;
}

/* 서브 메뉴 */
.menu>li>ul {
    display: none;
    position:absolute;
    width: 150px;
    background-color: rgba(17, 65, 107, 0.306);
    align-items: center;
    margin:0;
}

.menu>li>ul>li {
    padding: 10px 10px 10px 30px; /* 서브 메뉴 항목 지정 */
}

.menu>li>ul>li>a {
    font-size: 14px;
    padding:10px;
    color: #000;
}

.menu>li:hover > ul {
    display: block; /* 메인 메뉴 항목 위로 오버하면 서브메뉴 표시 */
    z-index: 10;  /* 슬라이드쇼에 가리지 않게 조절 */
    top: 30;
}

.menu >li > ul > li > a:hover {
    color: rgb(17, 65, 107);
} 




/* 마이페이지, 로그인 바 */
.mypage {
    display:flex;
    list-style: none;

}

.mypage button {
    border:none;
    margin:2px;
    background-color: #222227;
    font-size: 13px;
    padding: 2px 4px;
    color: grey;
}
.mypage button:hover {
    cursor: pointer;
}


.mypage li {
    font-size: 13px;
    padding: 8px 10px;
    color: grey;
}




.search {
    display:flex;
    padding-right:40px;
    border-color: rgb(255, 0, 115) 1px;
}
.search #sr {
    border-radius: 10px;
    padding: 4px 10px;
    
}


/* 그냥 빈공간 */
.containerx {
    width: 100%;
    height: 80px;
    background-color: aliceblue;
}


/* Calendar */
.container {
    width: 100%;
    height: 530px;
    background-color: aliceblue;
    color: #eee;
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/
    padding-top: 40px;
    padding-left: 80px;
 
}

.calendar {
    float: left;
    width: 400px;
    height: 420px;
    background-color: #222227;
    box-shadow: 0 0.5rem 0.5rem rgba(0,0,0,0.4);
    border-radius: 30px;
}

.month {
    width: 100%;
    height:7rem;
    background-color: #0f0b38;
    /*background-color: #167e56;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-align:center;
    text-shadow: 0 .3rem .5rem rgba(0,0,0,0.5);
    left:0;
    margin: 0;
}

.month i {

}

.month h1 {
    font-weight:400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
}

.month p {
    font-size: 20x;
}

.weekdays {
    width: 100%;
    height: 5rem;
    padding: 0 0.4rem;
    display: flex;
    align-items: centers;
}

.weekdays div {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: .1rem;
    width: calc(400px/7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.5);
}

.days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: .2rem;
}

.days div {
    font-size: 12px;
    margin: 0.3rem;
    width: calc(330px/7);
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.5);
    transition: background-color 0.2s;
}

.days div:hover:not(.today) {
    background-color:rgb(97, 156, 208);
    border: 0.2rem solid rgb(255, 254, 254);
    cursor: pointer;
}

.prev-date,
.next-date {
    opacity: 0.5;
}

.today {
    background-color: rgb(36, 107, 169);
    border-radius: 20px;
}

/* img */


.picture {

    display: flex;
    margin-left: 50px;
    width: 830px;
    height: 20px;
    border-top: 1px solid #ddd;
    
}

#msc1 {
    margin-top: 20px;
    margin-left: 0px;
    width: 150px;
    height: 180px;
    border: 5px solid rgba(53, 50, 66, 0.206);
}

#msc1:hover {
    border: 4px solid rgba(17, 65, 107, 0.306);
}

#msc2 {
    margin-top: 20px;
    margin-left: 25px;
    width: 145px;
    height: 180px;
    border: 5px solid rgba(53, 50, 66, 0.206)
}

#msc2:hover {
    border: 4px solid rgba(17, 65, 107, 0.306);
}

#msc3 {
    margin-top: 20px;
    margin-left: 25px;
    width: 145px;
    height: 180px;
    border: 5px solid rgba(53, 50, 66, 0.206)
}

#msc3:hover {
    border: 4px solid rgba(17, 65, 107, 0.306);
}

#msc4 {
    margin-top: 20px;
    margin-left: 25px;
    width: 145px;
    height: 180px;
    border: 5px solid rgba(53, 50, 66, 0.206)
}

#msc4:hover {
    border: 4px solid rgba(17, 65, 107, 0.306);
}

#msc5 {
    margin-top: 20px;
    margin-left: 25px;
    width: 145px;
    height: 180px;
    border: 5px solid rgba(53, 50, 66, 0.206)
}

#msc5:hover {
    border: 4px solid rgba(17, 65, 107, 0.306);
}

.musical input[type="radio"] {
    display: none;  /* 라디오 버튼 감춤*/
}

.musical label {
    padding-left: 50px;
    display: inline-block; /* 가로로 배치 */
    margin: 0 0;
    padding: 8px 10px;
    font-weight: 600;
    text-align: center;
    color: #aaa;
    border: 1px solid transparent;
}

.musical label:hover {
    color:#222;
    cursor: pointer;
}

.musical input:checked + label {
    margin-left: 50px;
    color: rgb(17, 65, 107);
    border: 1px solid #ddd;
    background-color: #eee;
}

/* picture 극장, 날짜 설명 */
#msc1h2{
    color:black;
    padding-left: 50px;
    padding-top: 10px;
    font-size: 12px;
}

#msc1h6 {
    color:rgb(124, 108, 108);
    border: 1px solid transparent;
    padding-left: 30px;
    padding-top: 3px;
    font-size: 10px;
}

#msc1h6date {
    color:rgb(124, 108, 108);
    border: 1px solid transparent;
    padding-left: 15px;
    padding-top: 3px;
    font-size: 10px;
}



h2{
    color:black;
    padding-left: 80px;
    padding-top: 10px;
    font-size: 12px;
}
h6{
    color:rgb(124, 108, 108);
    border: 1px solid transparent;
    padding-left: 60px;
    padding-top: 3px;
    font-size: 10px;
}

/* hot 뮤지컬 상영 날짜 */
#date {
    color:rgb(124, 108, 108);
    display: center;
    padding-left:45px;
    padding-top: 3px;
    font-size: 10px;
}

/* 투두리스트 */

.todoListBox {
    margin-top: -100px;
    margin-left: 170px;
    background-color: aliceblue;
    width:540px;
    height:90%;
    border-style: dotted;
}
.todoList {
    position:absolute;
    display: inline-flex;
    background-color: aliceblue;
    width: 830px;
    height: 100px;
    color:black;
    margin-top:300px;
    margin-left: 450px;
}
.main-wrap {
    float:left;

    float:left;
    margin-left:100px;
    
}

.main-wrap h1 {
    margin-right: 0;
    margin-left: -95px;
    font-size: 25px;
    color:rgb(32, 91, 172);
    margin-top: 10px;
}

.main-wrap p {
    margin-top: 20px;
    margin-left: -95px;
    font-size: 18px;
    color:rgb(26, 24, 57);
    font-weight: 400;
}


  #test {
    margin-top: 30px;
    text-align: center;
    color:rgb(41, 24, 87);
    margin-left: 30px;
  }

/* todolist , notice, review*/
.container2 {
    width: 100%;
    height: 500px;
    background-color: aliceblue;
    color: #eee;
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/
    padding-top: 10px;
    padding-left: 50px;
}



/* notice review*/
#tabMenu {
    margin-left: 30px;
    float:left;
    width: 640px;
    height: 400px;
    margin-top: 10px;
}

#tabMenu input[type="radio"] {
    display: none;  /* 라디오 버튼 감춤*/
}

#tabMenu label {
    display: inline-block; /* 가로로 배치 */
    margin: 0 0;
    padding: 8px 10px;
    font-weight: 600;
    text-align: center;
    color: #aaa;
    border: 1px solid transparent;
}

#tabMenu label:hover {
    color:#222;
    cursor: pointer;
}

#tabMenu input:checked + label {
    color: rgb(17, 65, 107);
    border: 1px solid #ddd;
    background-color: #eee;
}


.tabContent {
    color:rgba(42, 41, 56, 0.91);
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #ddd;

}

.tabContent h2 {
    display: none;
}

#notice ul {
   
    list-style: disc;
    margin-left: 20px;
}

#notice ul li {
    cursor: pointer;
    font-size: 16px;
    line-height: 2.5;
}

#review ul {
   
    list-style: disc;
    margin-left: 20px;
}

#review ul li {
    cursor: pointer;
    font-size: 16px;
    line-height: 2.5;
}

#tab1:checked ~ #notice,
#tab2:checked ~ #review {
    display: block;
}



#earlyBird {

    margin-left: 30px;
    float:right;
    width: 610px;
    height: 400px;
    margin-top: 10px;
}

.box {
    border: 1px solid #ddd;
    padding: 9px 10px 5px 13px;
    width:90px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(17, 65, 107);
    background-color: #eee;
}

.sale1 {
    border-top: solid #ddd;
    width:580px;
    height: 180px;
    display:flex;
}

.get1 {
    cursor: pointer;
    width: 100px;
    height: 27px;
    position: flex;
    border-radius: 20px;
    border:0.5px solid #ddd;
    color:white;
    background-color: rgba(6, 45, 79, 0.508);
    margin-left: 75px;
    margin-top:-100px;
}
.get1:hover {
    background-color: rgb(6, 45, 79);
}

.get2 {
    cursor: pointer;
    width: 100px;
    height: 27px;
    position: flex;
    border-radius: 20px;
    border:0.5px solid #ddd;
    color:white;
    background-color: rgba(6, 45, 79, 0.508);
    margin-left: 200px;
    margin-top:-100px;
}
.get2:hover {
    background-color: rgb(6, 45, 79);
}

.boy {
    
    cursor: pointer;
    margin-top: 20px;
    width:250px;
    height: 160px;
    box-shadow: 0 0.5rem 0.5rem rgba(0,0,0,0.4);
}


.anna {
    margin-left: 60px;
    display:block;
    cursor: pointer;
    margin-top: 20px;
    width:250px;
    height: 160px;
    box-shadow: 0 0.5rem 0.5rem rgba(0,0,0,0.4);
}

.sale2 {
    margin-top: -10px;
    margin-left: -20px;
    width:600px;
    height: 180px;
    display:flex;
}

.get3{
    cursor: pointer;
    width: 100px;
    height: 27px;
    position: flex;
    border-radius: 20px;
    border:0.5px solid #ddd;
    color:white;
    background-color: rgba(6, 45, 79, 0.508);
    margin-left: 75px;
    margin-top:-100px;
}
.get3:hover {
    background-color: rgb(6, 45, 79);
}

.get4 {
    cursor: pointer;
    width: 100px;
    height: 27px;
    position: flex;
    border-radius: 20px;
    border:0.5px solid #ddd;
    color:white;
    background-color: rgba(6, 45, 79, 0.508);
    margin-left: 200px;
    margin-top:-100px;
}
.get4:hover {
    background-color: rgb(6, 45, 79);
}

.lah {
    margin-left: 20px;
    cursor: pointer;
    margin-top: 20px;
    width:250px;
    height: 160px;
    box-shadow: 0 0.5rem 0.5rem rgba(0,0,0,0.4);
}


/* 마우스 올리면 할인 정보 보여주기 
.boy:hover .boy1{
    display: block;
    color: rgba(0, 0, 0, 0.12);
    opacity: 50;
}*/



/* 아직 뭐할지 모르겠음요 아마 엠디..? 세일..?*/
.container3 {

    width: 100%;
    height: 450px;
    background-color: aliceblue;
    color: #eee;
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/
    padding-top: 10px;
    padding-left: 80px;
}

#theater {
 
    float:left;
    width:650px;
}

.theaterimg {
    border-top: solid #ddd;
}


.information {
    width: 100%;
    height: 200px;
    background-color: rgb(31, 31, 31);
    color: #eee;
    display: block;
    /*justify-content: center;*/
    /*align-items: center;*/
    padding-top: 10px;
    padding-left: 80px;

}

h4 {
    color:rgb(17, 65, 107);
    margin-bottom: 7px;


}
header {
    width:600px;
    margin-top: 20px;
}


.thumb {
    width:195px;
    display:inline-block;
    height:100px;
    padding-right: 10px;

}
/* 라이트박스 컨테이너 */

#block {
    cursor: pointer;
}
#lightbox.active{
    
	position: absolute; 
    overflow: hidden;
	background: rgba(15, 12, 64, 0.815);
	width: 800px; 
    height: 540px;
	left: 50%; 
    margin-left: -400px;
	top: 50%; 
    margin-top: -250px;
	box-sizing: border-box; 
    padding: 30px;
	z-index: 99; 
    display: block;
}


#lightbox{ display: none; }
#lightbox h1, #lightbox p{ 
    
	color: rgb(254, 243, 243); 
    text-align: center;
	margin-bottom: 10px;
}

/* 이미지 박스 */
figure{ 

	width: 500px; height: 300px;
	position: relative;
	margin: 10px auto;
	overflow: hidden;
}
figure img{
	display: none;
 	position: absolute;
}
figure img.active{ display: block; }

/* 창닫기 버튼 */
.btn-close{
	position: absolute;
	top: 0px; right: 0px;
	padding: 10px;
	color: white; font-size: large;
}
.btn-close:hover{ background-color: #666; }

/* ******************************* */

/* 라이트 박스 배경 처리 */
#block{ 
	position: fixed;
	width: 100%; height: 100%;
	top: 0; bottom: 0; left: 0; right: 0;
	background: #111;
	opacity: 0.5; z-index: 9;
	display: none;
}
#block.active{ display: block;}


/* ****************************** */

/* 인디케이터 네비게이션 */
.indicator{ text-align: center; }
.indicator button{
	background: #666; color: white;
	font-size: 12px;
	border: none; padding: 2px 5px;
}
.indicator button:focus{ background: #38f; }



/* banner */

.banner-wrap {
    border: 3px solid #ddd;
    margin-top: 600px;
    margin-left: 1200px;
    width:160px;
    height: 400px;
    background-color: #eee;
    position:absolute;
}
	/* 배너 표시 상태 */
	#banner.active{

	    border: 1px solid #ccc;
	}

	/* 배너 비표시 상태 */	
	#banner{
        height: 0px;
	    position: relative;
	    overflow: hidden;
	    /*background: url('images/bg.png');*/
	    border-bottom: 1px solid #666;
	    border-top: 1px solid #ccc;
	    box-sizing: border-box;
	    transition-duration: 0.5s;
	}
	#banner:hover{
		cursor: pointer;
	}

    /*
    .chatting {
        margin-top: 80px;
        float:right;
        width:600px;
        height:250px;
        background-color: #0f0b38;
        margin-left:20px ;
        border-radius: 10px;
    }*/

    #links {
        margin-top: 80px;
        float:right;
        width:600px;
        height:250px;
    
        margin-left:20px ;
    }

    #links ul li {
        float: left;
        width:33%;
        text-align: center;
        margin: 10px 0;
    }

    #links ul li a span {
        display: block;
        margin: 0 auto;
        width:150px;
        height: 150px;
        border-radius: 100%;
        border: 1px solid #ddd;
        line-height: 150px;
    }

    #quick-icon1 {
        width: 10px;
        height: 10px;
        background-image: url('cloud.jpeg');
    }

    #quick-icon2 {
        background-image: url('cloud3.jpeg');
    }

    #quick-icon3 {
        background-image: url('cloud2.jpeg');
        
    }

    #links ul li a p  {
        margin-top: 15px;
        font-weight: 600;
        color: #666;
    }