* {
    text-decoration: none;
}

body {
    margin: 100px;
    background-color: aliceblue;
}

.logo-container {
    height: 150px;
}
.logo-container > h1 {
    font-size: 100px;
    font-style: italic;
    text-align: center;
}

.container {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.slides {
    position:absolute;
    float:left;
    width: 700px;
    height: 400px;
}

.slides > img {
    width:100%;
    height: 100%;
    float: left;  /* 가로로 배치 */

}

.slidebtn {
    position:absolute;
    height: 100%;
    top:0;
    border:none;
    padding: 20px;
    background-color: transparent;
    color: rgb(240, 234, 234);
    font-weight: 800;
    font-size: 24px;
    opacity: 0.5;
    display: center;
}

#prev {
    left:0;
    color:#fff;
}

#next {
    right:0;
}

.slidebtn:hover {
    background-color: #222;
    color: #fff;
    opacity: 0.6;
    cursor:pointer;
}

.slidebtn:focus {
    outline:0;
}


/* 로그인 

a{
    text-decoration:none;
    color:white;
}*/

ul {
    list-style: none;
}

/* 로그인 */

h4 {
    margin-left:150px;
    color: rgb(76, 73, 126);
    text-align: center;
    display: grid;
}

.login-container {
    float:right;
    width:500px;
    height: 100%;
    display: block;
    padding-right: 100px;
    place-items:center;

}

#welcome{
    margin-left:150px;
    margin-top:30px;
    display: grid;
    place-items:center;
}


.login {
    display: block;
    place-items:center;
    float:right;
    width: 320px;
    height: 100px;
    place-items:center;
    padding-top: 20px;
}


input {
    display:grid;
    margin-bottom: 14px;
    width: 300px;
    height: 40px;
    font-size: 16px;
    border:1px solid rgba(211, 211, 211, 0.401);
    background-color: aliceblue;
}
 
#loginbtn {
    margin-bottom:12px;
    margin-left:8px;
    width: 294px;
    height: 540x;
    font-size: 16px;
    padding: 10px 20px;
    background-color: #161854;
    color:white;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    cursor: pointer;

}


